.main-header {
  padding-top: 1rem;

  color: $heder-text;

  z-index: 10;

  @media screen and (min-width: $pc) {
    padding-top: 2rem;
  }
}

.header {
}

.header__wrapper {
  display: flex;
  flex-direction: column;

  & > div {
    display: flex;
    align-items: center;

    @media screen and (min-width: $tablet) {
      justify-content: space-between;
    }
  }
}

.header__logo {
  padding: 0.625rem 0;
  display: block;

  font-weight: 800;
  font-size: 1.5rem;
  line-height: 150%; /* 24/16 */
}

.header__menu {
}

.header__nav {
  @media screen and (max-width: calc($tablet - 0.0031rem)) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 4rem 1rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5rem;

    background-color: $main-bg;
    overflow: auto;
    z-index: 10;

    transform: translateX(-100%);
    transition: transform $main-trn;

    &.menu-open {
      transform: translateX(0);
    }
  }

  @media screen and (min-width: calc($tablet)) {
    flex: 1 1 100%;
    align-self: center;
  }
}

.nav {
}

.nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.75rem;

  @media screen and (min-width: calc($tablet - 0.0031rem)) {
    flex-direction: row;
    column-gap: 0.3125rem;
  }
}

.nav__item {
  @media screen and (max-width: calc($tablet - 0.0031rem)) {
    background-color: #edecff;
  }
}

.nav__link {
  padding: 0.75rem 1rem;
  display: block;

  font-weight: 500;
  font-size: 1.5rem;
  line-height: 112.5%; /* 18/16 */

  transition: font-weight $main-trn;

  &::after {
    display: block;
    content: attr(title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  &:hover,
  &:focus-within {
    font-weight: 700;
  }

  @media screen and (min-width: $tablet) {
    font-size: 1.125rem;
  }
}

.header__btn {
  display: block;
  padding: 0.625rem 1.875rem;
  min-width: 9.375rem;

  font-weight: 500;
  font-size: 1rem;
  line-height: 100%; /* 16/16 */

  border: 0.0625rem solid $main-borger;
  border-radius: 0.375rem;

  transition: color $main-trn, background-color $main-trn;

  &:hover,
  &:focus-within {
    color: $white-text;
    background-color: $main-btn-bg;
  }

  @media screen and (min-width: calc($pc)) {
    padding: 0.75rem 2.375rem;
    min-width: 11.25rem;

    font-size: 1.125rem;
    line-height: 112.5%; /* 18/16 */
  }

  @media screen and (max-width: calc($tablet - 0.0031rem)) {
    display: none;
  }
}

.menu__btn {
  margin-left: auto;
  padding: 0.5rem 0.3125rem;

  background: none;
  color: currentColor;
  border: none;
  cursor: pointer;
  z-index: 999;

  @media screen and (min-width: calc($tablet)) {
    display: none;
  }
}

.btn__icon {
  display: block;
  position: relative;

  width: 1.375rem;
  height: 1rem;

  transition: all $main-trn;

  & > span,
  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;

    background-color: currentColor;

    transition: transform $main-trn;
  }

  &::before,
  &::after {
    content: ' ';
  }

  & > span {
    top: 50%;
    transform: scale(1) translateY(-50%);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  // &:hover {
  //   color: $text-accent;
  // }

  .menu__btn.active & > span {
    transform-origin: left;
    transform: scale(0);
  }

  .menu__btn.active &::before {
    transform-origin: top left;
    transform: rotate(42deg);
  }

  .menu__btn.active &::after {
    transform-origin: bottom left;
    transform: rotate(-42deg);
  }
}
