//colors
//text #483EB3 #827EA7 #FFFFFF #47408D #4B42B0 #47408D #8380A0
//title #0B0451
//border #483EB3 #E1E1E1
//btnbg #483EB3
//icon #201E8B #4E45AE
//iconbg #4C42AF #FBFCFF
$heder-text: #483eb3;
$hero-title: #483eb3;
$hero-text: #827ea7;
$main-btn-bg: #483eb3;
$main-borger: #483eb3;
$secondary-border: #e1e1e1;

$main-text: #212121;
$sec-text: #757575;
$text-accent: #2196f3;
$white-text: #ffffff;
$main-bg: #ffffff;
$sec-bg: #f5f4fa;
$foot-bg: #2f303a;
$soc-icon: #afb1b8;
$btn-bg: #2196f3;
$hero-overlay: rgba(47, 48, 58, 0.4);
$modal-overlay: rgba(0, 0, 0, 0.2);
$card-overlay: rgba(33, 150, 243, 0.9);

//fonts
$primary: 'Inter', sans-serif;

//media
$mobile: 30rem;
$tablet: 48rem;
$pc: 64rem;

//transitions
$main-trn: 200ms cubic-bezier(0.4, 0, 0.2, 1);
