<footer class="main__footer">
  <div class="footer__wrapper container">
    <div class="footer__title-wrapper">
      <h2 class="footer__title">TelegramHolder</h2>
      <ul class="footer__social-list js-social-list">
        <li class="footer__social-item">
          <a
            href="#"
            target="_blank"
            class="footer__social-link"
            aria-label="link to instagram"
          >
            <svg width="28" height="28">
              <use href="./images/svg/footer-icons.svg#icon-instagram" />
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a
            href="#"
            target="_blank"
            class="footer__social-link"
            aria-label="link to whatsapp"
          >
            <svg width="28" height="28">
              <use href="./images/svg/footer-icons.svg#icon-whatsapp" />
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a
            href="#"
            target="_blank"
            class="footer__social-link"
            aria-label="link to twitter"
          >
            <svg width="28" height="28">
              <use href="./images/svg/footer-icons.svg#icon-twitter" />
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a
            href="#"
            target="_blank"
            class="footer__social-link"
            aria-label="link to phone"
          >
            <svg width="28" height="28">
              <use href="./images/svg/footer-icons.svg#icon-phone" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <nav class="footer__nav">
      <ul class="footer__nav-list">
        <li class="footer__nav-item">
          <div>
            <h3 class="footer__item-title">Company</h3>
            <svg width="24" height="24">
              <use href="./images/svg/footer-icons.svg#icon-arrow-down" />
            </svg>
          </div>

          <ul class="footer__sub-list">
            <li class="footer__sub-item">
              <a href="#" class="footer__sub-link">About Us</a>
            </li>
            <li class="footer__sub-item">
              <a href="#" class="footer__sub-link">Blog</a>
            </li>
            <li class="footer__sub-item">
              <a href="#" class="footer__sub-link">Services</a>
            </li>
            <li class="footer__sub-item">
              <a href="#" class="footer__sub-link">Pricing</a>
            </li>
          </ul>
        </li>

        <li class="footer__nav-item">
          <div>
            <h3 class="footer__item-title">Usefull Links</h3>
            <svg width="24" height="24">
              <use href="./images/svg/footer-icons.svg#icon-arrow-down" />
            </svg>
          </div>

          <ul class="footer__sub-list">
            <li class="footer__sub-item">
              <a href="#" class="footer__sub-link">Privat Policy</a>
            </li>
            <li class="footer__sub-item">
              <a href="#" class="footer__sub-link">Terms and Conditions</a>
            </li>
            <li class="footer__sub-item">
              <a href="#" class="footer__sub-link">Disclamer</a>
            </li>
            <li class="footer__sub-item">
              <a href="#" class="footer__sub-link">FAQ</a>
            </li>
          </ul>
        </li>

        <li class="footer__nav-item">
          <div>
            <h3 class="footer__item-title">Contact</h3>
            <svg width="24" height="24">
              <use href="./images/svg/footer-icons.svg#icon-arrow-down" />
            </svg>
          </div>

          <ul class="footer__sub-list js-sub-list">
            <li class="footer__sub-item">
              <a
                href="mailto:mailhere@gmail.com"
                class="footer__sub-link sub-link"
              >
                <svg width="16" height="16">
                  <use href="./images/svg/footer-icons.svg#icon-email" />
                </svg>
                <span>mailhere@gmail.com</span>
              </a>
            </li>
            <li class="footer__sub-item">
              <a href="tel:+0045 26 71 99 53" class="footer__sub-link sub-link">
                <svg width="16" height="16">
                  <use href="./images/svg/footer-icons.svg#icon-phone" />
                </svg>
                <span>0045 26 71 99 53</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <p class="copyright">Copyright &#169; 2021 all rights reserved smartHome</p>
  </div>
</footer>
