<header class="main-header header">
  <div class="header__wrapper container">
    <div>
      <a href="./index.html" class="header__logo">Telegramholder</a>

      <a href="" class="header__btn">Get Started</a>
      <button
        type="button"
        class="menu__btn js-toggle-btn"
        aria-label="open the mobile menu"
        aria-expanded="false"
        aria-controls="header__nav"
      >
        <span class="btn__icon">
          <span></span>
        </span>
      </button>
    </div>
    <nav class="header__nav nav js-menu-container" id="header__nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link" title="Home">Home</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" title="Featutres">Featutres</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" title="Testimonials">Testimonials</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" title="Pricing">Pricing</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" title="Faq">Faq</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
